In [54]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

## 크롤링할 페이지에 대한 정보를 가져온다.

In [71]:
url = 'https://www.thekpm.com/news/articleList.html?page=1&total=1526&sc_section_code=S1N2&sc_sub_section_code=&sc_serial_code=&sc_area=&sc_level=&sc_article_type=&sc_view_level=&sc_sdate=&sc_edate=&sc_serial_number=&sc_word=&sc_word2=&sc_andor=&box_idxno=&sc_multi_code=&sc_is_image=&sc_is_movie=&sc_user_name=&sc_order_by=E'
req = requests.get(url)

In [72]:
# url = 'https://www.thekpm.com/news/articleList.html?page=2&total=1526&sc_section_code=S1N2&sc_sub_section_code=&sc_serial_code=&sc_area=&sc_level=&sc_article_type=&sc_view_level=&sc_sdate=&sc_edate=&sc_serial_number=&sc_word=&sc_word2=&sc_andor=&box_idxno=&sc_multi_code=&sc_is_image=&sc_is_movie=&sc_user_name=&sc_order_by=E'
# req = requests.get(url)

2번째 page에 대한 확인 과정을 통해서 page의 흐름이 어떻게 가는지 확인한다.

In [67]:
html =req.text
soup = BeautifulSoup(html, 'lxml')
title_list = soup.find_all('h4', 'titles')
list(map(lambda x : x.a.text, title_list))

["TYM, 농기계 업체 최초 NFT 발행.. '트랙터 디자인 공모전' 대상 수상작 만난다",
 '대동-대동애그테크-농진청, 스마트 농업 촉진 업무 협약 체결',
 "'임대형 스마트팜' 강원 양구·경북 영천·전남 신안·전북 장수 최종 선정",
 '장수군, 생체정보 연계 환경관리 토탈 스마트팜 기술 시범사업 추진',
 '그린랩스, 카길애그리퓨리나와 친환경 축산업 활성화 나서',
 '조재호 농진청장 "드론 직파 재배 안정성, 지속적으로 향상 시킬 것"',
 "고추 생산량 떨어뜨리는 '담배나방', 초기 방제 중요하다",
 "BPA, 부산 남구 주택가 인근 유휴 국유지에 '스마트팜 5호점' 개관",
 '농정원, 데이터 기반 스마트농업 확산 지원사업 착수보고회 개최',
 "그린랩스, 농진청과 스마트농업 육성 위한 협력 '맞손'",
 '산림청, 산림공공·빅데이터 활용 창업경진대회 개최',
 '스마트폰으로 농사짓고 농기계 작동에 경매까지... 손안에 들어온 농업',
 "임업진흥원, '빅스퀘어유니언 데이터' 설명회 개최",
 "전남도, 임옥천 대표 농촌융복합산업인으로 선정...'곶감빵·매실쿠키'주목",
 '장수군, 지역특화 임대형 스마트팜 조성사업 추진... 200억원 투입',
 "경북에 국내 최초 '치유농업센터' 들어선다…농업·농촌 새 소득원 기대",
 '제15차 세계산림총회, 65만달러 수출계약 체결 성과',
 '한국임업진흥원, 사전환경조사 사업 참여기업 모집',
 "홈플러스, 대형마트 최초 '스마트팜 카페' 운영",
 '대동, 스마트팜 작물 이용 개인 맞춤형 헬스케어 사업',
 '']

In [6]:
title_info = list()
for page in range(1,10):
# for page in page_num:
    url = 'https://www.thekpm.com/news/articleList.html?page=' + str(page) +'&total=1526&sc_section_code=S1N2&sc_sub_section_code=&sc_serial_code=&sc_area=&sc_level=&sc_article_type=&sc_view_level=&sc_sdate=&sc_edate=&sc_serial_number=&sc_word=&sc_word2=&sc_andor=&box_idxno=&sc_multi_code=&sc_is_image=&sc_is_movie=&sc_user_name=&sc_order_by=E'
    req = requests.get(url)
    soup = BeautifulSoup(req.text, 'html.parser')
    title_list = soup.find_all('h4', 'titles')

    for title in title_list:
      title_info.append(title.text)

    page += 1
    time.sleep(1)

In [15]:
# 해당 page의 대표 topic에 대한 정보를 넣어준다
topic_info = 'smartfarm'
farm_df = pd.DataFrame(title_info, columns = ['title'])
farm_df['topic']= topic_info
farm_df

                                                title      topic
0    TYM, 농기계 업체 최초 NFT 발행.. '트랙터 디자인 공모전' 대상 수상작 만난다  smartfarm
1                   대동-대동애그테크-농진청, 스마트 농업 촉진 업무 협약 체결  smartfarm
2            '임대형 스마트팜' 강원 양구·경북 영천·전남 신안·전북 장수 최종 선정  smartfarm
3                장수군, 생체정보 연계 환경관리 토탈 스마트팜 기술 시범사업 추진  smartfarm
4                      그린랩스, 카길애그리퓨리나와 친환경 축산업 활성화 나서  smartfarm
..                                                ...        ...
184                                    해남산 배추 태국 첫 수출  smartfarm
185                       뭇남성 모두 이몽룡…남원사과 춘향애인 홈쇼핑 매진  smartfarm
186                     ‘스마트팜 테스트베드 교육’ 스마트팜 확대 역할 톡톡  smartfarm
187             강진 사는 선영은 초코볼 수확중…최광호·신선영 부부 전국 유일 재배  smartfarm
188                                                    smartfarm

[189 rows x 2 columns]

In [32]:
title_info2 = list()
for page2 in range(1,10):
# for page in page_num:
    urls = 'https://www.thekpm.com/news/articleList.html?page=' + str(page2) +'&total=1526&sc_section_code=S1N2&sc_sub_section_code=&sc_serial_code=&sc_area=&sc_level=&sc_article_type=&sc_view_level=&sc_sdate=&sc_edate=&sc_serial_number=&sc_word=&sc_word2=&sc_andor=&box_idxno=&sc_multi_code=&sc_is_image=&sc_is_movie=&sc_user_name=&sc_order_by=E'
    reqs = requests.get(urls)
    soup2 = BeautifulSoup(reqs.text, 'html.parser')
    title_list2 = soup2.find_all('h4', 'titles')

    for title2 in title_list2:
      title_info2.append(title2.text)

    page2 += 1
    time.sleep(1)

In [33]:
# 해당 page의 대표 topic에 대한 정보를 넣어준다
econo_df = pd.DataFrame(title_info2, columns = ['title'])
econo_df['topic']= 'economy'
econo_df

                                                title    topic
0    TYM, 농기계 업체 최초 NFT 발행.. '트랙터 디자인 공모전' 대상 수상작 만난다  economy
1                   대동-대동애그테크-농진청, 스마트 농업 촉진 업무 협약 체결  economy
2            '임대형 스마트팜' 강원 양구·경북 영천·전남 신안·전북 장수 최종 선정  economy
3                장수군, 생체정보 연계 환경관리 토탈 스마트팜 기술 시범사업 추진  economy
4                      그린랩스, 카길애그리퓨리나와 친환경 축산업 활성화 나서  economy
..                                                ...      ...
184                                    해남산 배추 태국 첫 수출  economy
185                       뭇남성 모두 이몽룡…남원사과 춘향애인 홈쇼핑 매진  economy
186                     ‘스마트팜 테스트베드 교육’ 스마트팜 확대 역할 톡톡  economy
187             강진 사는 선영은 초코볼 수확중…최광호·신선영 부부 전국 유일 재배  economy
188                                                    economy

[189 rows x 2 columns]

In [94]:
news_df = pd.concat([farm_df,econo_df])

In [95]:
news_df

                                                title      topic
0    TYM, 농기계 업체 최초 NFT 발행.. '트랙터 디자인 공모전' 대상 수상작 만난다  smartfarm
1                   대동-대동애그테크-농진청, 스마트 농업 촉진 업무 협약 체결  smartfarm
2            '임대형 스마트팜' 강원 양구·경북 영천·전남 신안·전북 장수 최종 선정  smartfarm
3                장수군, 생체정보 연계 환경관리 토탈 스마트팜 기술 시범사업 추진  smartfarm
4                      그린랩스, 카길애그리퓨리나와 친환경 축산업 활성화 나서  smartfarm
..                                                ...        ...
184                                    해남산 배추 태국 첫 수출    economy
185                       뭇남성 모두 이몽룡…남원사과 춘향애인 홈쇼핑 매진    economy
186                     ‘스마트팜 테스트베드 교육’ 스마트팜 확대 역할 톡톡    economy
187             강진 사는 선영은 초코볼 수확중…최광호·신선영 부부 전국 유일 재배    economy
188                                                      economy

[378 rows x 2 columns]

In [96]:
news_df = news_df.reset_index(drop=True)

In [97]:
news_df.drop_duplicates('title', inplace=True) # 중복 제거

In [79]:
news_df

                                                title      topic
0    TYM  농기계 업체 최초 NFT 발행    트랙터 디자인 공모전  대상 수상작 만난다  smartfarm
1                   대동 대동애그테크 농진청  스마트 농업 촉진 업무 협약 체결  smartfarm
2             임대형 스마트팜  강원 양구 경북 영천 전남 신안 전북 장수 최종 선정  smartfarm
3                장수군  생체정보 연계 환경관리 토탈 스마트팜 기술 시범사업 추진  smartfarm
4                      그린랩스  카길애그리퓨리나와 친환경 축산업 활성화 나서  smartfarm
..                                                ...        ...
176                   토란명가 곡성군 우량품종 선발보고회 전남과학대 용역 진행  smartfarm
177                                    해남산 배추 태국 첫 수출  smartfarm
178                       뭇남성 모두 이몽룡 남원사과 춘향애인 홈쇼핑 매진  smartfarm
179                      스마트팜 테스트베드 교육  스마트팜 확대 역할 톡톡  smartfarm
180             강진 사는 선영은 초코볼 수확중 최광호 신선영 부부 전국 유일 재배  smartfarm

[181 rows x 2 columns]

In [98]:
news_df["title"] = news_df["title"].str.replace(pat=r'[^\w]',repl=r' ',regex=True) # 특수문자 제거

In [99]:
news_df.iloc[:30]

                                               title      topic
0   TYM  농기계 업체 최초 NFT 발행    트랙터 디자인 공모전  대상 수상작 만난다  smartfarm
1                  대동 대동애그테크 농진청  스마트 농업 촉진 업무 협약 체결  smartfarm
2            임대형 스마트팜  강원 양구 경북 영천 전남 신안 전북 장수 최종 선정  smartfarm
3               장수군  생체정보 연계 환경관리 토탈 스마트팜 기술 시범사업 추진  smartfarm
4                     그린랩스  카길애그리퓨리나와 친환경 축산업 활성화 나서  smartfarm
5             조재호 농진청장  드론 직파 재배 안정성  지속적으로 향상 시킬 것   smartfarm
6                    고추 생산량 떨어뜨리는  담배나방   초기 방제 중요하다  smartfarm
7            BPA  부산 남구 주택가 인근 유휴 국유지에  스마트팜 5호점  개관  smartfarm
8                 농정원  데이터 기반 스마트농업 확산 지원사업 착수보고회 개최  smartfarm
9                     그린랩스  농진청과 스마트농업 육성 위한 협력  맞손   smartfarm
10                       산림청  산림공공 빅데이터 활용 창업경진대회 개최  smartfarm
11            스마트폰으로 농사짓고 농기계 작동에 경매까지    손안에 들어온 농업  smartfarm
12                       임업진흥원   빅스퀘어유니언 데이터  설명회 개최  smartfarm
13          전남도  임옥천 대표 농촌융복합산업인으로 선정    곶감빵 매실쿠키 주목  smartfarm
14            장수군  지역특화 임대형 스마트팜 조성사업 추진    200억원 투입  smartfarm
15            경북에 국내 최초  치유농업센터  들어선다 농업 농촌 새 소득원 기대  smartfarm
16                     제15차 세계산림총회  65만달러 수출계약 체결 성과  smartfarm
17                        한국임업진흥원  사전환경조사 사업 참여기업 모집  smartfarm
18                        홈플러스  대형마트 최초  스마트팜 카페  운영  smartfarm
19                     대동  스마트팜 작물 이용 개인 맞춤형 헬스케어 사업  smartfarm
20                                                    smartfarm
21           글로벌 애그테크 기업  엔씽   2022  테크놀로지 파이오니어  선정  smartfarm
22                광주에너지정보플랫폼 운영 시작   에너지 정보 모니터링 시스템  smartfarm
23                   산림청  FAO와 개도국 산림재해대응 위한 협력사업 착수  smartfarm
24                임업진흥원  아시아산림협력기구와  기후변화 대응  MOU 체결  smartfarm
25                 그린랩스  기후변화 대응 위해 APEC기후센터와 MOU 체결  smartfarm
26                           농정원  스마트팜 혁신밸리 청년교육생 모집  smartfarm
27              세계산림총회  수출 임산물 홍보관 운영    해외구매자에 선보인다  smartfarm
28                       스마트팜 혁신밸리  전문 교육과정 청년교육생 모집  smartfarm
29                 산림청  중앙아시아 5개국 장 차관과 산림협력 추진방향 논의  smartfarm

In [ ]:
!pip install konlpy

In [ ]:
!apt-get update
!apt-get install g++ openjdk-8-jdk python-dev python3-dev
!pip install JPype1-py3
!pip install konlpy
# !JAVA_HOME=""

In [83]:
from konlpy.tag import Okt

In [84]:
okt = Okt()

In [104]:
ko_vectorizer = TfidfVectorizer(min_df = 3, ngram_range = (1,3), tokenizer = okt.nouns)

In [105]:
features = ko_vectorizer.fit_transform(news_df['title'])

In [106]:
columns = ko_vectorizer.get_feature_names_out()
pd.DataFrame(features.todense(), columns = columns)

,강진,개발,개최,겨울,경기도,곡성군,공사,관,관리,광양시,...,협약,협약 체결,협회,홍보,확대,확산,환경,활성화,활용,회
0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000
1,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.378788,0.378788,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000
2,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000
3,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.319921,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.373685,0.000000,0.0,0.000000
4,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.428788,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,0.000000,0.0,0.0,0.0,0.0,0.510393,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.467437
177,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000
178,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000
179,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.578109,0.0,0.000000,0.000000,0.0,0.000000
180,0.461869,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000

In [107]:
cos_sim = cosine_similarity(features, features, dense_output=True)

In [108]:
pd.DataFrame(cos_sim)

,0,1,2,3,4,5,6,7,8,9,...,171,172,173,174,175,176,177,178,179,180
0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.000000,0.0
1,0.0,1.000000,0.049357,0.031485,0.162419,0.204336,0.0,0.178648,0.187900,0.330286,...,0.000000,0.034669,0.040132,0.00000,0.000000,0.0,0.0,0.0,0.106370,0.0
2,0.0,0.049357,1.000000,0.048692,0.000000,0.000000,0.0,0.276279,0.041210,0.048355,...,0.000000,0.053615,0.062065,0.24697,0.000000,0.0,0.0,0.0,0.164502,0.0
3,0.0,0.031485,0.048692,1.000000,0.000000,0.000000,0.0,0.176241,0.082197,0.030846,...,0.303967,0.034202,0.039592,0.00000,0.000000,0.0,0.0,0.0,0.104938,0.0
4,0.0,0.162419,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.422910,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.296809,0.000000,...,0.154476,0.000000,0.000000,0.00000,0.360902,1.0,0.0,0.0,0.000000,0.0
177,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.0,1.0,0.0,0.000000,0.0
178,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.000000,0.0
179,0.0,0.106370,0.164502,0.104938,0.000000,0.000000,0.0,0.595419,0.088812,0.104211,...,0.000000,0.115548,0.133758,0.00000,0.000000,0.0,0.0,0.0,1.000000,0.0
180,0.0,0.000000,0.000000,0.000000,0.000000,0.251976,0.0,0.000000,0.000000,0.000000,...,0.176943,0.000000,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.000000,1.0

In [111]:
index = pd.DataFrame(cos_sim)[5].sort_values(ascending = False)[:11].index

In [112]:
news_df[['title', 'topic']].iloc[index]

                                      title      topic
5    조재호 농진청장  드론 직파 재배 안정성  지속적으로 향상 시킬 것   smartfarm
114               파파야 재배 볏짚 사용 배수 통기성 효과 훌륭  smartfarm
53          첨단 드론 활용 벼 직파재배 인기   당진시 장려금 지원  smartfarm
39        농진청 KOPIA  OECD  공공부문 혁신 우수사례  선정  smartfarm
105          희소성 있는 다육식물 재배  귀농 50代의  인생역전   smartfarm
126            광양시  매실 복숭아씨살이좀벌 드론 시범방제에 나서  smartfarm
123          고흥  육군 드론봇협력사무소    군 시장 진출 교두보  smartfarm
111            광양시  미래유망  드론 조종 전문가  양성 나선다  smartfarm
157                   전국 버섯재배 농가들 강진으로 몰려든다  smartfarm
187   강진 사는 선영은 초코볼 수확중 최광호 신선영 부부 전국 유일 재배  smartfarm
71         농진청  ITC 디지털 영상정보 기반 누에 사육시스템 개발  smartfarm